__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
trained_models_tmp/
logs/
runs/
wandb/
*.pt
!checkpoints/
!checkpoints/test_model_G1_mjlab_Flat.pt
!checkpoints/test_model_Go2_mjlab_Flat.pt
!checkpoints/model_3100_Lite3.pt
*.onnx
!checkpoints/heft/
!checkpoints/heft/**/*.onnx
!orca_rl/assets/ckpts/
!orca_rl/assets/ckpts/twist2/
!orca_rl/assets/ckpts/twist2/*.onnx
