--extra-index-url https://py.mujoco.org
--extra-index-url https://pypi.nvidia.com

rsl-rl-lib>=5.0.1,<5.4.0
numpy>=1.26.0
torch>=2.6.0
orca-lab==26.4.3
mujoco==3.5.0
warp-lang==1.12.0
mujoco-warp==3.5.0
mjlab==1.2.0
-e ./third_party/unitree_rl_mjlab
tensordict>=0.7.0
onnx>=1.15.0
onnxruntime>=1.17.0
onnxscript>=0.5.4
pynput>=1.7.6
tensorboard>=2.14.0
wandb>=0.17.0
